<h1 style="color:brown;"> Details of Book </h1>

<h2> Name : <i style="color:green;"> <%= @book.name %> </i> </h2>

<h2> Description : <i style="color:green;"> <%= @book.description %> </i> </h2>

<h2> <%= link_to "Back to index page", root_path %> 